.anatomy {
 background-color: #000;
 height: 100vh;
 color: #fff;
 font-style: normal;
 line-height: normal;

 h1 {
   font-family: "Poppins";
   font-size: 50px;
   font-weight: 600;
   text-transform: uppercase;
 }

 h2 {
  font-family: "Poppins";
  font-size: 500px;
  font-weight: 400;
  letter-spacing: -41px;
  height: 603px;
 }

 p {
  font-family: "Poppins";
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
  width: 522px;
 }


 img {
  width: 85%;
  height: 600px;
 }

 .anatomy-content {
  padding-left: 119px;
 }
}