.anatomy {
  background-color: #000;
  height: 100vh;
  color: #fff;
  font-style: normal;
  line-height: normal;

  h1 {
    font-family: "Poppins";
    font-size: px-to-vw(50);
    font-weight: 600;
    text-transform: uppercase;
  }

  h2 {
    font-family: "Poppins";
    font-size: px-to-vw(500); // This seems extremely large. Is this intentional?
    font-weight: 400;
    letter-spacing: -41px;
    height: 603px;
  }

  p {
    font-family: "Poppins";
    color: #FFF;
    font-size: px-to-vw(25);
    font-weight: 400;
    width: px-to-vw(522);

  }

  img {
    width: px-to-vw(1371);
    height: 50vh;
  }

  .anatomy-content {
    padding-left: px-to-vw(119);
    padding-top: px-to-vw(119);
  }

  .mobile_diamond {
    display: none;
  }

  // Media query for smaller screens
  @media (max-width: 768px) {

    h1 {
      font-size: 25px;
      text-align: center;
    }

    h2 {
      font-size: px-to-vw(300, 768); // Adjusted to a smaller value for small screens
      letter-spacing: -20px; // Adjusted for readability
      height: auto;
    }

    img {
      width: 100%;
      height: 160px;
      padding: 10px 0px;
    }

    p {
      font-size: 18px;
      text-align: center;
      width: 100%;
      line-height: 113.25%;
    }

    .anatomy-content {
      padding: 125px 8px 8px 0px;
    }

    .mobile_diamond {
      display: block;
      height: auto;
    }
  }
}