
#introduction {
 height: 50vh;
 // margin: auto 0;
 background-color: black;

 p {
  color: #FFF;
  font-family: "Poppins";
  font-size: px-to-vw(18);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  max-width: 526px;
 }
}