// #savoir_faire {
//  display: flex;
//  background-color: black;
//  justify-content: center;
//  align-items: center;


//  .savoir_faire_container_one {
//   display: inline-block;
//   text-align: right;
//   padding-right: 9px;
//   img:nth-child(1) {
//     width: px-to-vw(522);
//   }
//   img:nth-child(2) {
//     width: px-to-vw(462);
//    padding-top: 17px;
//   }
//  }
//   .savoir_faire_container_two {
//    padding: 0 10px;
//    img {
//     width: px-to-vw(772);
//    }
//   }
//   .savoir_faire_container_three {
//     img:nth-child(1) {
//       width: px-to-vw(306);
//     }
//     img:nth-child(2) {
//     width: px-to-vw(502);
//     padding-right: 43px;
//     padding-top: 21px;
//     }
//     padding-left: 9px;
//   }
// }

//   .savoir_faire_content {
//    padding-top: 274px;
//    padding-bottom: 252px;
//    background-color: black;

//    p {
//     max-width: 518px;
//     margin: 0 auto;
//     color: #FFF;
//     font-family: "Poppins";
//     font-size: px-to-vw(18);
//     font-style: normal;
//     font-weight: 400;
//     line-height: 120.75%;
//    }
//   }

#savoir_faire {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;

  .savoir_faire_container_one {
    display: inline-block;
    text-align: right;
    padding-right: px-to-vw(9);

    img:nth-child(1) {
      width: px-to-vw(522);
    }

    img:nth-child(2) {
      width: px-to-vw(462);
      padding-top: px-to-vw(17);
    }
  }

  .savoir_faire_container_two {
    padding: 0 px-to-vw(10);

    img {
      width: px-to-vw(772);
    }
  }

  .savoir_faire_container_three {
    padding-left: px-to-vw(9);

    img:nth-child(1) {
      width: px-to-vw(306);
    }

    img:nth-child(2) {
      width: px-to-vw(502);
      padding-right: px-to-vw(43);
      padding-top: px-to-vw(21);
    }
  }



  // Media query for smaller screens
  @media (max-width: 768px) {

    .savoir_faire_container_one,
    .savoir_faire_container_two,
    .savoir_faire_container_three {
      img {
        width: 100%; // Adjust width for smaller screens
        padding-top: px-to-vw(10, 768);
        padding-right: 0;
      }
    }
  }
}

.savoir_faire_content {
  padding-top: px-to-vw(274);
  padding-bottom: px-to-vw(252);
  background-color: black;

  p {
    max-width: px-to-vw(518);
    margin: 0 auto;
    color: #FFF;
    font-family: "Poppins";
    font-size: px-to-vw(18);
    font-style: normal;
    font-weight: 400;
    line-height: 120.75%;
  }

  @media (max-width: 768px) {
    .savoir_faire_content {
        padding-top: px-to-vw(137, 768);
        padding-bottom: px-to-vw(126, 768);

        p {
          font-size: px-to-vw(14, 768);
        }
      }
  }
}